[Desktop Entry]
Name=Svitlo Store
Comment=Магазин застосунків Svitlo
Exec=svitlo-store %u
Terminal=false
Type=Application
StartupNotify=true
Icon=org.svitlolinux.Store
Categories=COSMIC;System;PackageManager;
Keywords=App;Software;Store;Shop;
MimeType=application/x-debian-package;application/vnd.debian.binary-package;application/vnd.flatpak.ref;x-scheme-handler/appstream;x-scheme-handler/mime;
